<script setup lang="ts">
import { FormDataDto } from '@models/form-data.ts'
import { ref } from 'vue'

const { formData } = defineProps<{
  formData: FormDataDto
  onSave: () => void
  onCheck: () => void
}>()

const data = ref(formData)
</script>

<template>
  <form>
    <VContainer>
      <VRow>
        <VCol
          v-for="[key, value] in Object.entries(formData)"
          class="py-0 px-4"
          :key="key + value"
        >
          <VTextField
            :label="key"
            :disabled="true"
            v-if="typeof value == 'number'"
            v-model="data[key]"
            :hideDetails="true"
          />
          <VCheckbox
            :label="key"
            :disabled="true"
            v-model="data[key]"
            :hideDetails="true"
            v-else
          />
        </VCol>
      </VRow>
      <VRow>
        <VCol style="display: flex">
          <VBtn @click="onSave" class="ma-auto" variant="outlined">
            Отправить
          </VBtn>

          <VBtn @click="onCheck" class="ma-auto" variant="outlined">
            Проверить
          </VBtn>
        </VCol>
      </VRow>
    </VContainer>
  </form>
</template>

<style scoped></style>
