<script setup lang="ts">
import { ValueItem } from '@models/value-item.ts'
import { computed, ref, watch } from 'vue'
import { RowsDto } from '@models/rows-dto.ts'
import { FormDataDto } from '@models/form-data.ts'

const props = defineProps<{
  items: RowsDto[]
  value: ValueItem
  constants: FormDataDto
  onItemChanged: (value: boolean) => void
  isCheckedValue: boolean
}>()

const model = ref<Record<string, number>>({
  ...props.items.reduce((res, curr) => {
    return {
      ...res,
      [curr.name]: props.value[curr.name],
    }
  }, {}),
})
const isChecked = ref(props.isCheckedValue)
const background = ref('transparent')

const isEdit = computed(() => {
  for (const [item, value] of Object.entries(model.value)) {
    if (props.value[item] != value) {
      return true
    }
  }
  return false
})

const change = () => {
  //логистика
  if (model.value['Объем'] > 0) {
    if (model.value['Объем'] > 3) {
      model.value['Логистика'] =
        (model.value['Объем'] - 3) * Number(props.constants['Доп_литр']) +
        Number(props.constants['За_3л'])
    } else {
      model.value['Логистика'] = Number(props.constants['За_3л'])
    }
  } else {
    model.value['Логистика'] = 0
  }
  //налог
  if (model.value['НоваяЦП'] > 0) {
    model.value['Налог'] =
      (model.value['НоваяЦП'] / 100) * Number(props.constants['Налог'])
  } else {
    model.value['Налог'] =
      (model.value['ТекущаяЦена'] / 100) * Number(props.constants['Налог'])
  }
  //НоваяЦП
  model.value['НоваяЦП'] =
    model.value['ЦенаДоСкидки'] -
    (model.value['ЦенаДоСкидки'] / 100) * model.value['Скидка']

  //Сборка
  model.value['Сборка'] = props.constants['Сборка'] as number
  //Комиссия
  if (model.value['НоваяЦП'] > 0) {
    model.value['Комиссия'] =
      (model.value['НоваяЦП'] / 100) * Number(props.constants['Комиссия'])
  } else {
    model.value['Комиссия'] =
      (model.value['ТекущаяЦена'] / 100) * Number(props.constants['Комиссия'])
  }
  //Просто измененные данные
  if (model.value['ЛогПоОтчетам'] > 0) {
    model.value['ЧП'] =
      model.value['ЦенаДоСкидки'] -
      (model.value['ЦенаДоСкидки'] / 100) * model.value['Скидка'] -
      model.value['Пакет'] -
      model.value['Сборка'] -
      model.value['Комиссия'] -
      model.value['Налог'] -
      model.value['ЛогПоОтчетам'] -
      model.value['Себестоимость']
  } else {
    model.value['ЧП'] =
      model.value['ЦенаДоСкидки'] -
      (model.value['ЦенаДоСкидки'] / 100) * model.value['Скидка'] -
      model.value['Пакет'] -
      model.value['Сборка'] -
      model.value['Комиссия'] -
      model.value['Налог'] -
      model.value['Логистика'] -
      model.value['Себестоимость']
  }

  background.value = isEdit.value
    ? model.value['НоваяЦП'] > 0
      ? 'green'
      : 'red'
    : 'transparent'
  isChecked.value = isEdit.value

  //model.value['Процент'] = model.value['ЧП'] / 100*
  //Вытянуть из формы
  //model.value['ЧП'] = model.value['Себестоимость'] * props.constants['Налог']
}

watch(isChecked, () => {
  props.onItemChanged(isChecked.value)
})
</script>

<template>
  <tr :class="isEdit ? 'changed' : 'default'">
    <td>
      <VCheckbox v-model="isChecked"> </VCheckbox>
    </td>
    <td v-for="item of items" :key="item.name">
      <VTextField
        v-model="model[item.name]"
        class="my-3"
        style="min-width: 100px"
        @change="change"
        :hideDetails="true"
        v-if="item.canEdit"
        variant="outlined"
      />
      <div class="mini-text" v-else>{{ model[item.name] }}</div>
    </td>
  </tr>
</template>

<style scoped>
.changed {
  background: v-bind(background);
  transition: background-color 0.5s;
}
</style>
