<script setup lang="ts">
import { ref } from 'vue'
import { useAuth } from '@store/auth.store.ts'
import { useRouter } from 'vue-router'

const auth = useAuth()
const login = ref(auth.login ?? '')
const password = ref(auth.password ?? '')
const router = useRouter()

const loginClicked = () => {
  auth.changeToken({
    login: login.value,
    password: password.value,
  })
  router.push('/')
}
</script>

<template>
  <div class="container">
    <VCard class="login-container">
      <VCardItem class="text-lg-h3">Вход</VCardItem>
      <VCardText>
        <VForm>
          <VTextField v-model="login" label="Логин" required />
          <VTextField
            v-model="password"
            label="Пароль"
            type="password"
            required
          />
          <VBtn @click="loginClicked" variant="outlined" :block="true"
            >Войти</VBtn
          >
        </VForm>
      </VCardText>
    </VCard>
  </div>
</template>

<style scoped>
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.login-container {
  margin: auto;
  width: 600px;
}
</style>
