<script setup lang="ts">
import { handleRequest } from '@api/handle.ts'
import {
  filter,
  filterPages,
  getFormData,
  getItems,
  getRows,
  save,
} from '@api/index.ts'
import { computed, onMounted, ref, watch } from 'vue'
import {
  ValueItem,
  ValueItemChecked,
  valueItemToString,
} from '@models/value-item.ts'
import { useAuth } from '@store/auth.store.ts'
import { storeToRefs } from 'pinia'
import FormComponent from '@components/FormComponent.vue'
import TableItemComponent from '@components/TableItemComponent.vue'
import { FormDataDto } from '@models/form-data.ts'
import { RowsDto } from '@models/rows-dto.ts'
import { useToast } from 'vue-toastification'

const rows = ref<RowsDto[]>([])
const values = ref<ValueItemChecked[]>([])
const currentPage = ref(1)
const pagesCount = ref(0)
const data = ref<FormDataDto | undefined>(undefined)

const { login } = storeToRefs(useAuth())

const loadValues = () => {
  if (data.value == undefined) return
  handleRequest(
    filter<unknown>({
      page: currentPage.value,
      name: login?.value as string,
      ...data.value,
    }),
    (e: ValueItem[]) => {
      values.value = e.map<ValueItemChecked>((v) => {
        return {
          ...v,
          isChecked: false,
        } as ValueItemChecked
      })
    },
  )
}

watch(currentPage, loadValues)
watch(data, loadValues)

onMounted(() => {
  handleRequest(getRows(), (e: RowsDto[]) => {
    rows.value = e
  })

  handleRequest(
    filterPages({
      name: login?.value as string,
    }),
    ([count]) => {
      pagesCount.value = Number(count)
    },
  )

  handleRequest(getFormData(), ([e]) => {
    data.value = e
  })
})

const changePage = (index: number) => {
  currentPage.value = index
}

const onSave = () => {
  handleRequest(save(values.value.filter((e) => e.isChecked)), () => {
    useToast().success('Отправлено')
  })
}

const onCheck = () => {
  handleRequest(getItems(values.value.filter((e) => e.isChecked)), () => {
    useToast().success('запрос успешен')
  })
}

const filteredRows = computed(() => {
  const v = values.value[0]
  return rows.value
    .filter((e) => v[e.name] != undefined)
    .concat(rows.value.filter((e) => v[e.name] == undefined))
})
const pagesList = computed(() => {
  const pagesPerView = 7

  const minPageIndex =
    currentPage.value < pagesPerView / 2
      ? 1
      : currentPage.value - Math.floor(pagesPerView / 2)
  const maxPageIndex = Math.min(minPageIndex + pagesPerView, pagesCount.value)

  const pages: number[] = []
  for (let i = minPageIndex; i < maxPageIndex; i++) {
    pages.push(i)
  }

  return pages
})
</script>

<template>
  <div class="flexible pa-2">
    <div class="filters mb-2">
      <FormComponent
        v-if="data"
        :formData="data"
        :onSave="onSave"
        :onCheck="onCheck"
      />
    </div>
    <VTable class="scrollable-list">
      <thead>
        <tr>
          <th class="mini-title-text">Выбрано</th>
          <th
            v-for="item of filteredRows"
            :key="item.name"
            class="mini-title-text-text"
          >
            {{ item.name }}
          </th>
        </tr>
      </thead>
      <tbody>
        <TableItemComponent
          v-for="value of values"
          :key="valueItemToString(value)"
          :constants="data"
          :isCheckedValue="value.isChecked"
          :onItemChanged="(d) => (value.isChecked = d)"
          v-if="data"
          :items="filteredRows"
          :value="value"
        >
        </TableItemComponent>
      </tbody>
    </VTable>
    <div class="pages mt-2 mx-auto">
      <VCard
        v-for="index of pagesList"
        :key="index"
        class="ml-2 pa-3"
        style="height: 40px; line-height: 0; display: flex; width: 40px"
        variant="outlined"
        :color="index == currentPage ? 'green' : 'white'"
        @click="changePage(index)"
      >
        <div class="ma-auto">
          {{ index }}
        </div>
      </VCard>
    </div>
  </div>
</template>

<style scoped>
.scrollable-list {
  overflow: scroll;
}
.flexible {
  display: grid;
  height: 100%;
  grid-auto-rows: auto 1fr auto;
}
.pages {
  display: flex;
}
</style>
