<script setup lang="ts">
import { useRoute } from 'vue-router'
import { mdiAbacus, mdiCurrencyUsd } from '@mdi/js'

const route = useRoute()
</script>

<template>
  <div>
    <VApp>
      <VLayout>
        <VNavigationDrawer :expandOnHover="true" :rail="true">
          <VListItem>
            <div class="text-h4 pa-2">1C</div>
          </VListItem>
          <VDivider></VDivider>

          <VListItem
            to="/"
            title="Работа с ценами"
            :prependIcon="mdiCurrencyUsd"
          ></VListItem>

          <VListItem
            to="/test"
            title="Тестовая страница"
            :prependIcon="mdiAbacus"
          ></VListItem>
        </VNavigationDrawer>
        <VMain>
          <div class="card-container pa-3" v-if="route.meta.isNeedNavigation">
            <VCard class="card-content">
              <RouterView></RouterView>
            </VCard>
          </div>
          <RouterView v-if="!route.meta.isNeedNavigation"> </RouterView>
        </VMain>
      </VLayout>
    </VApp>
  </div>
</template>

<style scoped lang="scss">
.card-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
</style>
