:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: rgb(13, 17, 23);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
  margin: 0;
  display: flex;
}
#app {
    width: 100%;
}

.mini-text {
    font-size: 12px;
}
.mini-title-text {
    font-size: 14px;
}